@{
    ViewBag.Title = "请升级你的浏览器";
}

<h2>Sorry,请升级你的浏览器</h2>

<h4>你的浏览器版本过于老旧，无法正常显示本网站的内容，我们建议升级你的浏览器升级为以下之一</h4>
<h4>如果你在湛江一中电脑室，请使用火狐（Firefox）浏览器打开</h4>

<div>
    <h3><a href="http://windows.microsoft.com/ie" target="_blank">Inernet Explorer 11</a></h3>
    <h3><a href="https://www.google.com/chrome/browser/" target="_blank">Google Chrome</a></h3>
    <h3><a href="http://www.mozilla.org/firefox/" target="_blank">Firefox</a></h3>
</div>