
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "手气不错";
}

@{ 
    var picList = Joinzjazure.Data.RandomEggPictureStore.GetAll();
    var t = new System.Random();
    <p>恭喜你获得社员靓照一张</p>
    <img src="/Content/Pictures/@picList[t.Next(0,picList.Count-1)]" />
}

