@{
    ViewBag.Title = "提交成功";
}

<h2 class="alert alert-success">谢谢！报名信息已成功提交</h2>
<h3>湛江一中IT社QQ群: 294013796</h3>
<p>加入时请注明班级，姓名</p>
<h3>湛江一中IT社微博: <a href="http://weibo.com/zjazure" target="_blank">@@湛江一中IT社</a></h3>