@media (min-width: 768px) {
    body {
        background-image: url(Images/vs.gif);
        background-repeat:no-repeat;
        background-size:cover;
    }
}

.browser-logo {
    width: 120px;
    align-self: center;
}

.browser-logo-link {
    align-self: center;
}

body,h1,h4{
    font-family: 'Microsoft YaHei UI' !important;
}

.show-grid {
    margin-right: 15px!important;
}
.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}