@media (min-width: 768px) {
    body {
        background-image: url(/Content/Images/vs.gif);
    }
}

.browser-logo {
    width: 120px;
    align-self: center;
}

.browser-logo-link {
    align-self: center;
}

body,h1,h4{
    font-family: 'Microsoft YaHei UI' !important;
}